[commit]

[core]
	editor = vim +1
	autocrlf = input
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.global-gitignore

[alias]
	# See git.zsh for shell aliases.
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lgp = log -p --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	st = status
	co = checkout
	cb = checkout -b
	df = diff
	br = branch
	ba = branch -a
	brm = branch -m
	unstage = reset HEAD --
	last = log -1 HEAD
	ci = commit
	cim = commit -m
	cia = commit -a
	ciam = commit -am
	re = rebase
	ri = rebase -i
[color]
	ui = auto
[diff]
	renames = copies
	mnemonicprefix = true

[diff "lisp"]
	xfuncname = "^(\\(.*)$"
[diff "rstats"]
	xfuncname = "^([a-zA-z.]+ <- function.*)$"
[diff "orgmode"]
	xfuncname = "^(\\*+.*)$"
[diff "snakemake"]
	xfuncname = "^(rule .*)$"

[difftool]
	prompt = false

[merge]
	stat = true
	conflictstyle = diff3
[advice]
	statusHints = false
	pushNonFastForward = false
[branch]
	autosetupmerge = true
[push]
	default = tracking
