zsh/lib
zsh/cache

python/ipython/README
python/ipython/profile_
python/ipython/profile_default/db
python/ipython/profile_default/history.sqlite
python/ipython/profile_default/security
python/ipython/profile_sh
python/ipython/profile_default/startup/README

python/matplotlib/fontList.cache
python/matplotlib/fontList.py3k.cache
python/matplotlib/tex.cache

uzbl/style.css

# machine-specific links
awesome/conkyrc
xorg/xinitrc
xorg/xbindkeysrc
xorg/xmodmaprc

*.pyc
